@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark: #1c1c1c;
    --light: #f1f1f1;
    --primary: #014a6c;
    --header-color: #b5dbfb;
    --border: 1px solid rgba(255, 255, 255, 0.3);
    --line-color: rgba(0, 0, 0, 0.4);
    --trans: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--trans);
    scroll-behavior: smooth;
    scale: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    font-family: 'Noto Serif', serif;
    font-size: 100%;
    transition: none;
    overflow: hidden;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

a {
    color: var(--dark);
    text-decoration: none;
}

/* From https://css.glass */
.glassmorphism-overlay {
    background: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

/* Header - Logo */
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: none;
}
header.sticky {
    background-color: var(--header-color);
}
header nav {
    position: relative;
    display: flex;
    width: 96%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}
header.sticky nav {
    width: 80%;
}
nav .logo-text a {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    color: var(--primary);
}
nav ul {
    position: relative;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 16px;
    list-style: none;
}
nav ul li.nav-link {
    padding: 8px 16px;
    margin: 0 24px;
}
nav ul li.nav-link:hover {
    border-bottom: 1px solid var(--primary);
}

nav #theme-tool #mode-light {
    display: initial;
}
nav #theme-tool #mode-dark {
    display: none;
}
nav #language-tool #lang-vi {
    display: initial;
}
nav #language-tool #lang-en {
    display: none;
}

/* Footer - Copyright */
footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Main - Main Content */
main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: scroll;   
}
main::-webkit-scrollbar {
    display: none;
}

/* Section Config */
section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

section .container {
    position: relative;
    display: flex;
    height: calc(100% - 72px);
    width: 100%;
    margin: 72px 0 48px;
    padding: 48px;
}

.container .title {
    color: var(--primary);
    font-family: 'Merriweather', serif;
}

/* Home Section */
.home-background {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 760px;
    height: 100%;
    max-height: 1080px;
    background-image: url(../images/backgrounds/light.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.home {
    flex-direction: column;
    min-height: 760px;
    max-height: 1080px;
}
    .home .home-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    .home .home-body {
        position: relative;
        display: flex;
        width: 100%;
        height: 75%;
        margin-top: 72px;
        justify-content: space-evenly;
    }
        .home-body .home-left {
            display: flex;
            width: 500px;
        }
            .home-left .home-column-content {
                position: relative;
                min-width: 420px;
                width: 420px;
                height: 100%;
                min-height: 560px;
                margin: 0 40px;
                padding: 32px;
                background: linear-gradient(178deg, 
                            rgba(255,255,255,0.4) 0%, 
                            rgba(255,255,255,0.25) 60%, 
                            rgba(255,255,255,0) 100%);
            }
                .home-column-content .home-greeting {
                    margin: 96px 0 64px;
                }

                    .home-greeting #home-greeting{
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 1.4rem;
                        font-weight: 600;
                        font-style: italic;
                        color: var(--primary);
                        margin-bottom: 72px;
                    }
                    .home-greeting #home-welcome-1 {
                        font-family: 'Merriweather', serif;
                        font-size: 4rem;
                        font-weight: 700;
                        font-style: italic;
                        color: var(--dark);
                    }
                    .home-greeting #home-welcome-2 {
                        font-family: 'Merriweather', serif;
                        font-size: 2rem;
                        font-weight: 700;
                        font-style: italic;
                        color: var(--dark);
                    }

                .home-column-content .home-content {
                    display: flex;
                }
                    .home-content #home-introduce {
                        width: 320px;
                        text-align: justify;
                        color: #555;
                    }
                    .home-content .home-seemore-content {
                        position: absolute;
                        display: flex;
                        top: 0;
                        bottom: 0;
                        right: -64px;
                        width: 72px;
                        height: 72px;
                        margin: auto;
                        border-radius: 999px;
                        border: var(--border);
                        font-size: 1.4rem;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    .home-content .home-seemore-content:hover {
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                    }
    
        .home-body .home-right {
            display: flex;
            width: calc(100% - 840px);
            height: 100%;
            justify-content: center;
            align-items: center;
        }
            .home-right .home-image { 
                position: relative;
                width: 420px;
                height: 420px;
            }
                .home-image .home-rectangle {
                    position:absolute;
                    top: 60px;
                    left: 60px;
                    width: 360px;
                    height: 360px;
                    background-color: var(--primary);
                }
                .home-image img {
                    position:absolute;
                    top: 0;
                    left: 0;
                    width: 360px;
                    height: 360px;
                    object-fit: cover;
                }
    
    .home .home-bottom {
        position: absolute;
        bottom: 48px;
        width: 100%;
    }
        .home-bottom hr {
            width: 75%;
            margin-left: 25%;
            margin-top: 12px;
        }
        .home-bottom #home-text {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--primary);
            margin: 0 calc(7.5% + 32px);
        }
/* End Home Section Style */

/* Projects Section Style */
#project-title {
    position: absolute;
    display: flex;
    top: 36px;
    left: 48px;
    width: calc(100% - 96px);
    font-size: 1.5rem;
    font-weight: 600;
}
    #project-title hr.title-line {
        width: 100%;
        height: 1px;
        border: 1px solid var(--primary);
        margin: 1.3rem 0 0 8px;
    }

.projects-body {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 48px - 1.5rem);
    align-self: center;
}
    .projects-body .project-topic {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-content: space-between;
    }
        .project-topic .project-topic-introduce {
            position: relative;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            margin: 36px 0 96px;
        }
            .project-topic-introduce .project-topic-text {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-items: flex-end;
            }
                .project-topic-introduce #project-topic-name {
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 3.6rem;
                    font-weight: 600;
                    text-align: end;
                }
                .project-topic-introduce #project-topic-describe {
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 2.4rem;
                    font-weight: 400;
                    text-align: end;
                }

            .project-topic-introduce .projects-topic-button {
                position: absolute;
                display: flex;
                top: 0;
                left: 0;
                width: 76px;
                height: auto;
                justify-content: space-between;
            }
    
    .project-topic .project-slideshow {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
        .project-slideshow .project-select-show {
            position: absolute;
            top: -64px;
            left: calc(3rem + 36px);
            width: 240px;
            height: 48px;
            border: 1px solid;
        }
        .project-slideshow i.bx {
            position: relative;
            width: min-content;
            height: min-content;
            padding: 6px;
            font-size: 3rem;
            cursor: pointer;
            border-radius: 999px;
        }
        .project-slideshow i.bx:hover {
            background-color: rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
        }
        
        .project-slideshow .project-card-container {
            position: relative;
            display: flex;
            width: calc(100% - 72px - 6rem);
            height: 100%;
            justify-content: space-between;
            align-items: center;
        }
            .project-card {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 22%;
                min-height: 320px;
                height: 90%;
                border-radius: 8px;
                background-image: url(../images/mon/4.jpg);
                background-size: cover;
            }
            .project-card.card-focus {
                width: 46%;
                min-height: 320px;
                height: 90%;
                padding: 32px;
                margin-right: calc(2rem + 16px);
            }
            .project-card.card-focus .project-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                background: rgba(0, 0, 0, 0.2);
                -webkit-backdrop-filter: blur(8px);
                backdrop-filter: blur(8px);
                border: var(--border);
            }
            .project-card span {
                display: none;
                font-size: 2rem;
                font-weight: 500;
                color: var(--light);
            }
            .project-card.card-focus span {
                display: flex;
            }
            .project-card p {
                display: none;
                font-size: 1.2rem;
                color: var(--light);
                text-align: justify;
            }
            .project-card.card-focus p {
                display: flex;
                font-size: 1.2rem;
                color: var(--light);
                text-align: justify;
            }
            .project-card ul {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: min-content;
                height: min-content;
                margin: auto;
            }
            .project-card.card-focus ul {
                position: absolute;
                top: auto;
                bottom: auto;
                left: auto;
                right: calc(-2rem - 16px);
            }
            .project-card ul li.project-link {
                text-decoration: none;
                list-style: none;
            }
            .project-card.card-focus ul li.project-link#select-card {
                display: none;
            }
            .project-card ul li.project-link a i {
                color: var(--light);
                font-size: 2rem;
            }
            .project-card.card-focus ul li.project-link a i {
                color: var(--dark);
                font-size: 2rem;
            }
            .project-card ul li.project-link:hover a i {
                color: var(--dark);
            }
        
        .project-card-container .dot-transition {
            position: absolute;
            display: flex;
            bottom: -24px;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
























/* End Projects Section sTyle */






















