@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark: #1c1c1c;
    --light: #f1f1f1;
    --primary: #014a6c;
    --header-color: #b5dbfb;
    --border: 1px solid rgba(255, 255, 255, 0.3);
    --line-color: rgba(0, 0, 0, 0.4);
    --trans: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--trans);
    scroll-behavior: smooth;
    scale: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    font-family: 'Noto Serif', serif;
    font-size: 100%;
    transition: none;
    overflow: hidden;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}

a {
    color: var(--dark);
    text-decoration: none;
}

/* From https://css.glass */
.glassmorphism-overlay {
    background: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

/* Header - Logo */
header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: none;
}
header.sticky {
    background-color: var(--header-color);
}
header nav {
    position: relative;
    display: flex;
    width: 96%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}
header.sticky nav {
    width: 80%;
}
nav .logo-text a {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    color: var(--primary);
}
nav ul {
    position: relative;
    display: flex;
    align-items: center;
}
nav ul li {
    margin: 0 16px;
    list-style: none;
}
nav ul li.nav-link {
    padding: 8px 16px;
    margin: 0 24px;
}
nav ul li.nav-link:hover {
    border-bottom: 1px solid var(--primary);
}

nav #theme-tool #mode-light {
    display: initial;
}
nav #theme-tool #mode-dark {
    display: none;
}
nav #language-tool #lang-vi {
    display: initial;
}
nav #language-tool #lang-en {
    display: none;
}

/* Footer - Copyright */
footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Main - Main Content */
main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: scroll;   
}
main::-webkit-scrollbar {
    display: none;
}

/* Section Config */
section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

section .container {
    position: relative;
    display: flex;
    height: calc(100% - 72px);
    width: 100%;
    margin: 72px 0 48px;
    padding: 48px;
}

/* Home Section */
.home-background {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 760px;
    height: 100%;
    max-height: 1080px;
    background-image: url(../images/backgrounds/light.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.home {
    flex-direction: column;
    min-height: 760px;
    max-height: 1080px;
}
    .home .home-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    .home .home-body {
        position: relative;
        display: flex;
        width: 100%;
        height: 75%;
        margin-top: 72px;
        justify-content: space-evenly;
    }
        .home-body .home-left {
            display: flex;
            width: 500px;
        }
            .home-left .home-column-content {
                position: relative;
                min-width: 420px;
                width: 420px;
                height: 100%;
                min-height: 560px;
                margin: 0 40px;
                padding: 32px;
                background: linear-gradient(178deg, 
                            rgba(255,255,255,0.4) 0%, 
                            rgba(255,255,255,0.25) 60%, 
                            rgba(255,255,255,0) 100%);
            }
                .home-column-content .home-greeting {
                    margin: 96px 0 64px;
                }

                    .home-greeting #home-greeting{
                        font-family: 'Josefin Sans', sans-serif;
                        font-size: 1.4rem;
                        font-weight: 600;
                        font-style: italic;
                        color: var(--primary);
                        margin-bottom: 72px;
                    }
                    .home-greeting #home-welcome-1 {
                        font-family: 'Merriweather', serif;
                        font-size: 4rem;
                        font-weight: 700;
                        font-style: italic;
                        color: var(--dark);
                    }
                    .home-greeting #home-welcome-2 {
                        font-family: 'Merriweather', serif;
                        font-size: 2rem;
                        font-weight: 700;
                        font-style: italic;
                        color: var(--dark);
                    }

                .home-column-content .home-content {
                    display: flex;
                }
                    .home-content #home-introduce {
                        width: 320px;
                        text-align: justify;
                        color: #555;
                    }
                    .home-content .home-seemore-content {
                        position: absolute;
                        display: flex;
                        top: 0;
                        bottom: 0;
                        right: -64px;
                        width: 72px;
                        height: 72px;
                        margin: auto;
                        border-radius: 999px;
                        border: var(--border);
                        font-size: 1.4rem;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    .home-content .home-seemore-content:hover {
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                    }
    
        .home-body .home-right {
            display: flex;
            width: calc(100% - 840px);
            height: 100%;
            justify-content: center;
            align-items: center;
        }
            .home-right .home-image { 
                position: relative;
                width: 420px;
                height: 420px;
            }
                .home-image .home-rectangle {
                    position:absolute;
                    top: 60px;
                    left: 60px;
                    width: 360px;
                    height: 360px;
                    background-color: var(--primary);
                }
                .home-image img {
                    position:absolute;
                    top: 0;
                    left: 0;
                    width: 360px;
                    height: 360px;
                    object-fit: cover;
                }
    
    .home .home-bottom {
        position: absolute;
        bottom: 48px;
        width: 100%;
    }
        .home-bottom hr {
            width: 75%;
            margin-left: 25%;
            margin-top: 12px;
        }
        .home-bottom #home-text {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--primary);
            margin: 0 calc(7.5% + 32px);
        }
/* End Home Section Style */

/* Profile Section */
.profile-title {
    position: relative;
    height: 100%;
    width: 4%;
}
    .profile-title #profile-title {
        font-family: 'Merriweather', serif;
        font-size: 1.4rem;
        font-weight: 600;
        writing-mode: vertical-lr;
    }
    .profile-title .vertical-line {
        height: calc(100% - 3 * 48px );
        width: 1px;
        background-color: var(--dark);
        margin-left: 6px;
    }

.profile-body {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 96%;
    justify-content: space-between;
}
    .profile-body .profile-column {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 450px;
        width: 33%;
        height: 100%;
        min-height: calc(760px - 72px - 3 * 48px);
        max-height: calc(1080px - 72px - 3 * 48px);
        padding: 0 32px;
        align-items: center;
    }
        .profile-column .profile-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 48px;
        }
            .profile-content .profile-content-title {
                width: 100%;
                margin-bottom: 24px;
            }
                .profile-content-title span{
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--primary);
                }
                .profile-content-title hr {
                    border: 1px solid var(--primary);
                }

            .profile-content p.profile-content-text {
                text-align: justify;
            }
        #column-basic-information .profile-avatar {
            position: relative;
            width: 50%;
            aspect-ratio: 1/1;
            border-radius: 999px;
            margin: 24px 0;
        }
            #column-basic-information .profile-avatar img {
                width: 100%;
                height: 100%;
                border-radius: 999px;
                object-fit: cover;
            }
        
        #column-basic-information .profile-name {
            font-family: 'Merriweather', serif;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary);
            margin: 8px 0;
        }
        #column-basic-information .profile-job {
            font-family: 'Merriweather', serif;
            font-size: 1.1rem;
            font-weight: 300;
        }
        #column-basic-information .profile-information {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
        }
            .profile-information .profile-information-item {
                display: flex;
                width: 100%;
                margin-bottom: 16px;
                align-items: center;
            }
                .profile-information-item span {
                    font-size: 1.1rem;
                }
                .profile-information-item i {
                    font-size: 1.2rem;
                    margin: 0 24px 0 8px;
                }
        






















